body .formBase{
    position: relative;
    background:#2f343a !important;
    padding: 20%;
    margin: 20px auto;
    margin-top: -8px;
    margin-left: -6px;
    margin-right: -6px;
    padding-bottom: 3.4% !important;
    border-radius: 120px;
    border: 1px solid #2f343a !important;
}

div .LogoElo{
   position: relative;
   width: 100%;
   max-width: 987px;
   margin: 0px auto;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 30% !important;
   bottom: 370px;
}

.LogoElo img{
   width: 20%;
   max-width: 20%;
   display: flex;
   position: relative;
   left: 79% !important;
   margin-bottom: 80%;
}



.LogoElo h1{
   width: 100%;
   font-size: 34px;
   max-width: 100%;
   margin-bottom: 62%;
   position: relative;
   left:54%;
   bottom: 20px;
   color: #dc4b4f;    
}

.LogoElo h4{
   width: 100%;
   max-width: 20px;
   font-size: 32px !important;
   display: inline-block !important;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
   position: relative;
   color:#fa6453;
   bottom: 485%;
   left: 41%;
}

.formElo label[name="rs"]{
   max-width: 100%;
   width: 100%;
   margin-top: 30px;
   position: relative;
   left: 36px;
   bottom: 30px;
   font-size: 15px;
   font-weight: bold;
   display: inline-block;
}
